<meta charset="UTF-8">

<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/Payment">Payment</a>
    <a href="/new-application">Applications</a>
    <a href="/delafield">Delafield Street</a>
    <a href="/richardson">Richardson Street</a>
    <a href="/senior">Senior Street</a>
    <a href="/submit-ticket">Ticket Submission</a>
    <a href="/tickets">Submitted Tickets</a>
    <a href="/about">About</a>
    <a href="/login">Admin Login</a>
  </div>