<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Mariner Properties</title>
  </head>
  <body class="background-white">
    <%- include("./partials/navbar.ejs") %>

<header>
    <h1>About us:</h1>
</header>

  <body>
      <div class="center background-white">
    <p>Mariner Properties is a small, family run business that rents properties and has been running for almost 40 years</p>
  </div>
  </div>
  </body>

  </html>