<!-- views/adminPanel.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../assets/css/style.css">
        <title>Admin Panel</title>
    </head>
    </div>
    <%- include("./partials/navbar.ejs") %>
    <h1>Admin Panel</h1>

    <!-- Display tickets and provide delete links -->
    <ul>
      <% tickets.forEach(ticket => { %>
        <li>
          <%= ticket.title %>
          <a href="/delete-ticket/<%= ticket.id %>" onclick="return confirm('Are you sure?')">Delete</a>
        </li>
      <% }); %>
    </ul>
  </body>
</html>
