<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Mariner Properties</title>
  </head>
  <%- include("./partials/navbar.ejs") %>
<div class="center background-white">
<header>
  <h1>23 Senior Street:</h1>
</header>

<body>
  <div class="splash">
  <img class="splash" src="/assets/seniorstphotos/Front.jpg" alt="">
  </div>

<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'home')">Overview</button>
  <button class="tablinks" onclick="openCity(event, 'menu1')">Facts and Features</button>
  <button class="tablinks" onclick="openCity(event, 'menu2')">Map</button>
  <button class="tablinks" onclick="openCity(event, 'menu3')">Photos</button>
  <button class="tablinks" onclick="openCity(event, 'menu4')">Contact</button>
</div>

<div id="home" class="tabcontent">
This page includes information about 23 Senior Street.
</div>

<div id="menu1" class="tabcontent">
<div>
5 Bedrooms <br>
2 Bathrooms <br>
8 Residents (3 doubles, 3 singles or can be 5 singles, contact for details) <br>
Parking for 4 cars <br>
On street parking passes <br>
Washer and Dryer in basement <br>
Dishwasher <br>
Refrigerator <br>
Backyard <br>
Open Front Porch <br>
Full Basement <br>
</div>
</div>

<div id="menu2" class="tabcontent">
WIP
</div>

<div id="menu3" class="tabcontent">
<div class="grid-container">
  <div class="grid-item">
  <img class="grid-resize" src="/assets/seniorstphotos/Front.jpg" alt="">
</div>
<div class="grid-item">
  <img class="grid-resize" src="/assets/seniorstphotos/Bath !.jpg" alt="">
</div>
  <div class="grid-item">
  <img class="grid-resize" src="/assets/seniorstphotos/Bath 2.jpg" alt="">
</div>
<div class="grid-item">
  <img class="grid-resize" src="/assets/seniorstphotos/BR 1.jpg" alt="">
</div>
  <div class="grid-item">
  <img class="grid-resize" src="/assets/seniorstphotos/BR 2.jpg" alt="">
</div>
  <div class="grid-item">
  <img class="grid-resize" src="assets/seniorstphotos/BR 3.jpg" alt="">
</div>
  <div class="grid-item">
  <img class="grid-resize" src="/assets/seniorstphotos/BR 4.jpg" alt="">
</div>
  <div class="grid-item">
  <img class="grid-resize" src="/assets/seniorstphotos/BR 5.jpg" alt="">
</div>
<div class="grid-item">
  <img class="grid-resize" src="/assets/seniorstphotos/LR.jpg" alt="">
</div>
</div>
</div>

<div id="menu4" class="tabcontent">
  <p>732-261-6503 Ask for John - Email: john.gillooly@irr.com anytime</p>
</div>
</div>

</body>

<script src="/assets/js/script.js"></script>

</html>